[submodule "pack/steve/start/vim-surround"]
	path = pack/steve/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/steve/start/vim-buftabline"]
	path = pack/steve/start/vim-buftabline
	url = https://github.com/ap/vim-buftabline.git
[submodule "pack/steve/start/typescript-vim"]
	path = pack/steve/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "pack/steve/start/vim-colors-solarized"]
	path = pack/steve/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "pack/steve/start/vim-tsx"]
	path = pack/steve/start/vim-tsx
	url = https://github.com/ianks/vim-tsx.git
[submodule "pack/steve/start/ack.vim"]
	path = pack/steve/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "pack/steve/start/vim-fugitive"]
	path = pack/steve/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/steve/start/vim-rhubarb"]
	path = pack/steve/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "pack/steve/start/nerdtree"]
	path = pack/steve/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/steve/start/vim-bufkill"]
	path = pack/steve/start/vim-bufkill
	url = https://github.com/qpkorr/vim-bufkill
[submodule "pack/steve/start/vim-markdown"]
	path = pack/steve/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "pack/steve/start/vim-airline"]
	path = pack/steve/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/steve/start/vim-airline-themes"]
	path = pack/steve/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/start/steve/vim-qf"]
	path = pack/start/steve/vim-qf
	url = https://github.com/romainl/vim-qf.git
[submodule "pack/steve/start/vim-ps1"]
	path = pack/steve/start/vim-ps1
	url = https://github.com/PProvost/vim-ps1
